body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}
#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.recipe {
  background: white;
  border-radius: 8px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.recipe img {
  width: 100%;
  border-radius: 8px;
}
